*{
    margin: 0;
    padding: 0;
}
.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)), url(images/banner.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
        
}
.text-box{
    width: 90%;
    color: white;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;   
    
}
.text-box h1{
    font-size: 59px;
}
.text-box p{
    margin: 45px 0 40px;
    font-size: 23px;
    color: wheat;
}
.text-box h2{
    font-size: 39px;
}